@model IEnumerable<WebApplication29.Models.joins>

@{

    Layout = "~/Views/Shared/_AdminLayout.cshtml";
   
       string[] TableHeaders = new string[]{"UserID","UserImage" ,"Fname"
          ,"Lname"," Gender"," Email","PhoneNumber","Adress","City","Birthdate","Username","roleid","salary","Tracks","Inventives","MonthOfSalary","TotalSalary"
     };

}
    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2  mw-100 navbar-search"  style="margin-bottom:15px;" asp-action="DisplaySalaryEmployeeSearch">
                <div class="input-group">
                      <label>Start Month</label>
                            
                      <input input type="month" name="startDate" class="form-control bg-light border-0 small"   placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                        
                      <label>End Month </label>
                            <input input type="month" name="endDate" class="form-control bg-light border-0 small"   placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                        <input type="submit" value="search"  class="btn btn-primary " />   
                          
                        </div> 

              
                 </form>
 
                
      <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Employee Salaries </h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                                            @{
                    foreach (var head in TableHeaders)
                    {
                        <th>
                            @head
                        </th>
                    }
                }
                                        </tr>
                                    </thead>
        <tbody>

            @{
                
                 @if (Model != null)
            {
                foreach (var data in Model)
             
                {

                    <tr>
                        <td>@data.users.UserId </td>
                        <td>@data.users.UserImage </td>
                        <td>@data.users.FirstName </td>

                        <td>@data.users.LastName </td>
                        <td>@data.users.Gender </td>
                        <td>@data.users.Email</td>
                        <td>@data.users.PhoneNumber</td>
                        <td>@data.users.Adress</td>
                        <td>@data.users.City</td>
                        <td>@data.users.BirthDate</td>
                        <td>@data.logins.UserName</td>
                        <td>@data.roles.RoleId</td>
                        <td>@data.salaries.Salary1</td>
                        <td>@data.salaries.Tracks</td>
                        <td>@data.salaries.Inventives</td>
                        <td>@data.salaries.MonthOfSalary</td>
                        <td>@data.salaries.TotalSalary</td>
               

                       
                    </tr>


                }
            }
            }
        </tbody>

                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>

   
</div>
   
