@model IEnumerable<WebApplication29.Models.User>

@{

    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var countOFEmployees= ViewBag.countOFEmployees ;

    var countOFAllUsers = ViewBag.countOFAllUsers;
    var countOFServices = ViewBag.countOFServices;
    var countOFCustomer = ViewBag.countOFCustomer;
        string[] TableHeaders = new string[]{"Number","UserID","UserImage" ,"Fname"
          ,"Lname"," Gender"," Email","PhoneNumber","Adress","City","Birthdate"
     };


}

       <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                count of employees</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">@countOFEmployees</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-user-friends fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                               count of all the users</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">@countOFAllUsers</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-users fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">count of services
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@countOFServices</div>
                                                </div>
                                                <div class="col">
                                                    <div class="progress progress-sm mr-2">
                                                        <div class="progress-bar bg-info" role="progressbar"
                                                            style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                            aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa fa-suitcase fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                               count of customer</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">@countOFCustomer</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa fa-street-view fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="container-fluid">

                    <!-- Page Heading -->
                    

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">All Users </h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                                            @{
                    foreach (var head in TableHeaders)
                    {
                        <th>
                            @head
                        </th>
                    }
                }
                                        </tr>
                                    </thead>
                                   
                                    <tbody>
                                       
            @{
                
                 @if (Model != null)
            {
                foreach (var data in Model)
             
                {
                 
                     var index = Model.ToList().IndexOf(data)+1;
                                    <tr>
                                        <td>@index </td>
                                           <td>@data.UserId </td>
                        <td>@data.UserImage </td>
                        <td>@data.FirstName </td>

                        <td>@data.LastName </td>
                        <td>@data.Gender </td>
                        <td>@data.Email</td>
                        <td>@data.PhoneNumber</td>
                         <td>@data.Adress</td>
                          <td>@data.City</td>
                           <td>@data.BirthDate</td>

                       
                    </tr>


                }
            }
            }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
