@model IEnumerable<WebApplication29.Models.joins>

@{

    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var countOFEmployees= ViewBag.countOFEmployees ;

    var countOFUsers = ViewBag.countOFUsers; 
       string[] TableHeaders = new string[]{"UserImage","FirstName","LastName","Service img" ,"ServiceName"
          ,"Price"," Category name"," UserId","Description"
     };

}


<div class="table">
    <table class="table table-bordered table-hover" id="dataTable">
        <thead>
            <tr>
                @{
                    foreach (var head in TableHeaders)
                    {
                        <th>
                            @head
                        </th>
                    }
                }
            </tr>
        </thead>
        <tbody>

            @{
                
                 @if (Model != null)
            {
                foreach (var data in Model)
             
                {

                    var index = Model.ToList().IndexOf(data)+1;
                                    <tr>
                                        <td>@index </td>
      <td> 	<img src="~/Image/@data.users.UserImage" asp-append-version="true"style="width:60px;height:60px" style="border-radius:10px;" />
</td> 
                        <td>@data.users.FirstName </td>
                        <td>@data.users.LastName</td>
                          <td> 	<img src="~/Image/@data.services.UserImage" asp-append-version="true"style="width:60px;height:60px" style="border-radius:10px;" />
</td> 
                        <td>@data.services.ServiceName </td>
                        <td>@data.services.Price </td>

                        <td>@data.categories.CategoryName </td>
                        <td>@data.services.UserId </td>
                        <td>@data.services.Description</td>
                       
                 
                 

                       
                    </tr>


                }
            }
            }
        </tbody>
    </table>
   
</div>