@model IEnumerable<WebApplication29.Models.Service>

@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Services</h2>
			</div>
		</div>
	</div>
	</section>
	<section id="content">
		<div class="container content">	
<div class="row">
			<div class="col-md-12">
				<div><h2>Our Quality Service</h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident, doloribus omnis minus ovident, doloribus omnis minus temporibus perferendis nesciunt..</div>
				<br>
			</div>
		</div>		
        <!-- Service Blcoks -->

     <section id="content">
	
	<div id="placeholderhere">
	<div class="container">
			<div class="row">
				 <div class="skill-home"> <div class="skill-home-solid clearfix" style="display: flex; flex-wrap: wrap; flex-direction: row; align-content: flex-start;">
	
							  @{
                
                 @if (Model != null)
            {
			                @foreach (var user in Model)
    {
		
	
			<div class="col-md-3 "  >
				 		<div class="box" style="margin-top:50px;" > 
	<img src="~/Image/@user.UserImage" asp-append-version="true"style="width:260px;height:152.125px;  margin: 10%;" style="border-radius:50%;" />
		<div class="box-area" >
		<h3>@user.ServiceName</h3> <p>@user.Description</p> 
		<h3>price:@user.Price jd</h3>
		<form asp-action="_UserServicePartial">

		           
					<input type="hidden" name="UserImage" id="UserImage" class="form-control" placeholder="UserImage"  readonly="readonly" value="@user.UserImage" required>

					<input type="hidden" name="ServiceId" id="ServiceId" class="form-control" placeholder="ServiceId"  readonly="readonly" value="@user.ServiceId" required>
					<input type="hidden" name="ServiceName" id="ServiceName" class="form-control" placeholder="ServiceName"  readonly="readonly" value="@user.ServiceName" required>
					<input type="hidden" name="Description" id="Description" class="form-control" placeholder="Description"  readonly="readonly" value="@user.Description" required>
					<input type="hidden" name="Price" id="Price" class="form-control" placeholder="Price"  readonly="readonly" value="@user.Price" required>
                    <button type="submit" style="border-radius:15px; border:5px;">Book Now</button>
                    </form>
						
</div></div>
		</div>		 	
    }}}</div>

		</div></div>
		
		</div></div></section>
		</div>
	
	</section> 

	
		
	
	
		
		
 

    <script src="~/Modal/js/jquery.min.js"></script>
    <script src="~/Modal/js/popper.js"></script>
    <script src="~/Modal/js/bootstrap.min.js"></script>
    <script src="~/Modal/js/main.js"></script>
	<style>
		button {color: #ffffff;text-decoration: none;font-size: 13px;background: #055999;padding: 7px 20px;margin-top: 10px;display: inline-block;}
	</style>