@model IEnumerable<WebApplication29.Models.joins>

@{

    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
    var countOFEmployees= ViewBag.countOFEmployees ;

    var countOFUsers = ViewBag.countOFUsers; 
       string[] TableHeaders = new string[]{" ","ServiceName"
          ,"Price","Description","Date","User Name","Adress","city","Phone Number ","Status"
     };

}

             <script src="~/jsfiles/FileSaver.js"></script> @*could be downloaded from https://github.com/eligrey/FileSaver.js/blob/master/src/FileSaver.js*@
<script>
    function fnExcelReport(id, name) {
        var tab_text = '<html xmlns: x="urn:schemas-microsoft-com:office:excel">';
        tab_text = tab_text + '<head><xml><x: ExcelWorkbook><x: ExcelWorksheets><x: ExcelWorksheet>';
        tab_text = tab_text + '<x: Name>Test Sheet</x: Name>';
        tab_text = tab_text + '<x: WorksheetOptions><x: Panes></x: Panes></x: WorksheetOptions ></x: ExcelWorksheet > ';
        tab_text = tab_text + '</x:ExcelWorksheets></x:ExcelWorkbook></xml></head><body>';
        tab_text = tab_text + "<table border='1px' style='color:black'>";

        var exportTable = $('#' + id).clone();
        exportTable.find('th').last().remove();
        exportTable.find('input').each(function (index, elem) { $(elem).remove(); });
        exportTable.find('a').each(function (index, elem) { $(elem).remove(); });

        tab_text = tab_text + exportTable.html();

        var fileName = "category" + '.xls';
        //Save the file
        var blob = new Blob([tab_text], { type: "application/vnd.ms-excel;charset=utf-8" })
        window.saveAs(blob, fileName);

    }
</script>
 
    
   <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2  mw-100 navbar-search"  style="margin-bottom:15px;" asp-action="UserServicesName">
                <div class="input-group">
                      <label>User Name</label>
                            
                      <input input type="text" name="UserName" class="form-control bg-light border-0 small"   placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                        
                          <input type="submit" value="search"  class="btn btn-primary " />   
                           <a asp-action="UserServicesName">get all</a>
                        </div> 

               
                 </form>
                
      <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Services Status </h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="admitcard" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                                            @{
                    foreach (var head in TableHeaders)
                    {
                        <th>
                            @head
                        </th>
                    }
                }
                                        </tr>
                                    </thead>
        <tbody>

            @{
                
                 @if (Model != null)
            {
                foreach (var data in Model)
             
                {
                             var index = Model.ToList().IndexOf(data)+1;
                    <tr>
                       
              
                             
                                        <td>@index </td>
                        <td>@data.services.ServiceName </td>
                        <td>@data.services.Price </td>
                        <td>@data.services.Description</td>
                         <td>@data.userService.Date </td>
                         
                           <td>@data.users.FirstName @data.users.LastName </td>
                            <td>@data.users.Adress </td>
                             <td>@data.users.City </td>
                               <td>@data.users.PhoneNumber </td>
                        <td>@data.userService.Status </td>
                    
                          

                    </tr>


                }
            }
            }
        </tbody>
                  </table>
                        </div>
                        </div>
                    </div>

          
            <button class="btn btn-primary" onclick="javascript:fnExcelReport('dataTable', 'data')">Export To Excel</button>
      <input style="margin-left:5px;" type="button" onclick="generate()" class="btn btn-primary"  value="Export To PDF" />


<script src="script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.6/jspdf.plugin.autotable.min.js"></script>

<script>
    function generate() {
        var doc = new jsPDF("p", "mm", "a2");
        var htmlstring = '';
        var tempVarToCheckPageHeight = 0;
        var pageHeight = 0;
        pageHeight = doc.internal.pageSize.height;
        
var width = doc.internal.pageSize.getWidth();
        specialElementHandlers = {
            // element with id of "bypass" - jQuery style selector
            '#bypassme': function (element, renderer) {
                // true = "handled elsewhere, bypass text extraction"
                return true
            }
        };
        margins = {
            top: 200,
            bottom: 60,
            left: 100,
            right: 100,
            width: 700,
           
        };
      
        var y = 20;
        doc.setLineWidth(3);

        doc.autoTable({
            html: '#dataTable',

        })
        doc.save('Category.pdf');
    }

</script>
