@model IEnumerable<WebApplication29.Models.joins>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.salaries.Salary1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.salaries.Tracks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.salaries.Inventives)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.salaries.MonthOfSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.salaries.TotalSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.users.FirstName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.salaries.Salary1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salaries.Tracks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salaries.Inventives)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salaries.MonthOfSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salaries.TotalSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.users.FirstName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.salaries.SalaryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.salaries.SalaryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.salaries.SalaryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
